/* opacity */

/* #one {
  height: 200px;
  width: 200px;
  background-color: rgba(255, 0, 0, 0.4);
  border: 2px solid black;
  margin: 10px;
  transition: 1s;
} */

/* #two {
  height: 200px;
  width: 200px;
  background-color: orange;
  border: 2px black solid;
  margin: 10px;
  opacity: 0.5;
} */
/* #one:hover {
  background-color: blue;
  border-radius: 50%;
} */
#one {
  height: 100px;
  width: 100px;
  background-color: rgba(255, 0, 0, 0.4);
  border: 2px solid black;
  margin: 0 auto;
  margin-top: 10px;
  transition: margin-top 1s ease-in 0.2s;
}
#one:hover {
  margin-top: 400px;
}
