/* transform property */

section {
  margin-top: 100px;
}

div {
  height: 50px;
  width: 200px;
  text-align: center;
  background-color: rgb(128, 32, 0);
  border: 2px solid black;
  margin: 10px auto;
}

div:nth-of-type(2n) {
  background-color: yellowgreen;
}

div:nth-of-type(3n) {
  background-color: rgb(88, 4, 94);
}

#one {
  transform: rotate(45deg);
}
#two {
  transform: scale(0.5);
}

#three {
  transform: translateX(100px);
}
#four {
  transform: skew(30deg);
}
#five {
  transform: rotate(50deg) translateX(150px);
}
