#shadow {
  height: 100px;
  width: 200px;
  text-align: center;
  background-color: rgb(128, 32, 0);
  /* border: 2px solid black; */
  margin: 10px auto;
  box-shadow: 2px 2px 8px black;
}

#img {
  height: 300px;
  width: 300px;
  text-align: center;
  background-color: rgb(128, 32, 0);
  /* border: 2px solid black; */
  margin: 50px auto;
  background-image: url(img/logo7.jpg);
  background-size: cover;
}
